pipeline/pl_create_silver_tables.json
{
	"name": "pl_create_silver_tables",
	"properties": {
		"activities": [
			{
				"name": "act ForEach Folder Path",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_folder_path_usp_name_array')",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "act_delete_silver_taxi_zone_folder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"ds_param_folder_path": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_delete_silver_taxi_zone_folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().usp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_file_path": {
				"type": "String",
				"defaultValue": "silver/taxi_zone"
			},
			"v_sp_name": {
				"type": "String",
				"defaultValue": "silver.usp_silver_taxi_zone"
			},
			"v_folder_path_usp_name_array": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_path": "silver/calendar",
						"usp_name": "silver.usp_silver_calendar"
					},
					{
						"folder_path": "silver/taxi_zone",
						"usp_name": "silver.usp_silver_taxi_zone"
					},
					{
						"folder_path": "silver/trip_type",
						"usp_name": "silver.usp_silver_trip_type"
					},
					{
						"folder_path": "silver/vendor",
						"usp_name": "silver.usp_silver_vendor"
					},
					{
						"folder_path": "silver/rate_code",
						"usp_name": "silver.usp_silver_rate_code"
					},
					{
						"folder_path": "silver/payment_type",
						"usp_name": "silver.usp_silver_payment_type"
					}
				]
			},
			"year": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}